:root {
  --primary-color: #eeeeee;
  --background-color: #222831;
  --accent-color: #00adb5;
}

* {
  overflow: hidden;
}

html {
  background-color: var(--background-color);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.flex-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  display: flex;
  width: 500px;
  justify-content: space-between;
  padding: 0 2rem;
  color: #fff;
}

footer p {
  transition: opacity 0.3s ease;
  padding-bottom: 4px;
}

footer p:hover {
  cursor: pointer;
  border-bottom: #fff solid 1px;
}

/* LOGIN */

.Login .input-box {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  width: 60%;
  background: var(--primary-color);
  max-width: 500px;
}

.Login TextField {
  margin: 2rem;
}

.Login .login-button {
  width: 100%;
}

/* DISPLAY */

.Display {
  flex-direction: column;
}

.Display .meme-container {
  padding: 2rem;
  background-color: var(--primary-color);
}

.Display .meme-container h1 {
  width: 500px;
  margin-top: 0;
  white-space: nowrap;
}

.Display .img-container {
  max-width: 500px;
  height: 500px;
  margin-bottom: 1rem;
}

.Display .meme {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* UPLOAD */

.Upload {
  width: 500px;
  padding: 2rem;
  background-color: var(--primary-color);
  display: grid;
  gap: 1rem;
}

.Upload h2 {
  margin: 0;
}
